body{
    background-color: black;
    color:aliceblue;
    margin:0;
}
.tittle{
    width: 100px;
    height:50px;
    padding:10;
    color:black;
    background-color: aqua;
}
.informacion-1{
    background-color: blueviolet;
}